@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top_icon_wrapper {
    @apply bg-gray-300 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-pink-400    hover:text-white;
  }

.navbar_link:hover{
   color: rgb(235, 153, 153);
   transition: all 0.4s;
}

.navbar_link::after{
   position: absolute;
   content: "";
   background-color: rgb(235, 153, 153);
   height: 3px;
   width: 100%;
   bottom: -5px;
   left: 0;
   scale: 0;
   transform-origin: left ;
   transition: all 0.4s;
}

.navbar_link:hover::after{
  scale: 1;
}


}